.btn {
    background-color: lightskyblue;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 17px;
    padding : 25px;
    font-size: 25px;      
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5); 
     box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
  }

  .btn:hover{
      transform: scale(1.2);
  }

  #buttons{
      position: absolute;
      
  }

  body {
      margin: 0;
      padding: 0;
    background-color: lightslategray;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

  video{
      height: 100vh;
      width: 100%;
      background-position: absolute;
      z-index: -10;
      object-fit: cover;
  }